## üß† Multiple Choice Questions

Test your knowledge with these questions!



---



üí° **Final Tip:**
SQL is your **gateway** to understanding and analyzing data efficiently. Mastering SQL gives you superpowers in data-driven roles. Keep practicing with real datasets and build mini-projects! üßë‚Äçüíªüìà

Happy querying! üéâ

---

# üìä Chapter 2: The Heart of SQL - The `SELECT` Statement

Welcome to the second chapter of our SQL journey! Now that you understand the what and why of SQL, it's time to dive into the most fundamental and commonly used command: the `SELECT` statement. This is your primary tool for fetching data from a database. Think of yourself as a detective üïµÔ∏è, and the `SELECT` statement is your magnifying glass to inspect the clues (data) within your tables.

---

## üîç Understanding `SELECT` and `FROM` Clauses

The `SELECT` and `FROM` clauses are the inseparable duo of data retrieval. You can't have one without the other.

* `SELECT`: Specifies the columns (or fields) you want to see.
* `FROM`: Specifies the table where these columns are located.

**Analogy:** Imagine you're at a food court (`FROM table_name`). The `SELECT` statement is you telling the vendor which specific dishes (`column1`, `column2`) you want on your plate.

### Basic Syntax

```sql
SELECT column1, column2, ...
FROM table_name;
```

### Selecting All Columns
If you want to see every single column in a table, you can use the asterisk (`*`) wildcard. It's a handy shortcut!

```sql
SELECT *
FROM table_name;
```

---

## üß© Exploring the `WHERE` Clause

The `WHERE` clause is where the real magic happens. It allows you to filter your data and retrieve only the rows that meet specific conditions. It acts like a sieve, letting only the data you're interested in pass through.

**Analogy:** You're back at the food court, but this time you have a dietary restriction. You tell the vendor, "I want the chicken curry and rice (`SELECT`), but only if it's gluten-free (`WHERE` condition)."

### Basic Syntax

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

---

## üîÄ Logical Operators Deep Dive

Logical operators are used in the `WHERE` clause to combine multiple conditions. This allows for more complex and specific filtering.

* `AND`: Retrieves a record only if **all** conditions separated by `AND` are TRUE.
* `OR`: Retrieves a record if **any** of the conditions separated by `OR` is TRUE.
* `NOT`: Retrieves a record if the condition(s) is NOT TRUE.

### Examples:
Let's assume we have a `Users` table with columns: `Name`, `Age`, and `City`.

* **Using `AND`**
    To find users older than 25 who also live in 'New York':
    ```sql
    SELECT Name, Age, City FROM Users
    WHERE Age > 25 AND City = 'New York';
    ```

* **Using `OR`**
    To find users who are either younger than 18 or live in 'London':
    ```sql
    SELECT Name, Age, City FROM Users
    WHERE Age < 18 OR City = 'London';
    ```

* **Using `NOT`**
    To find users who do not live in 'Paris':
    ```sql
    SELECT Name, Age, City FROM Users
    WHERE NOT City = 'Paris';
    ```

---

## üìè Comparison Operators Explained

Comparison operators are used in the `WHERE` clause to compare a column value with another value.

| Operator | Description                    |
| :------- | :----------------------------- |
| `=`      | Equal to                       |
| `>`      | Greater than                   |
| `<`      | Less than                      |
| `>=`     | Greater than or equal to       |
| `<=`     | Less than or equal to       |
| `<>` or `!=` | Not equal to               |
| `BETWEEN`| Between a certain range        |
| `LIKE`   | Search for a pattern           |
| `IN`     | To specify multiple possible values for a column |

---

## üí° Practical Examples and Exercises

Let's work with a hypothetical `Employees` table.

**Table: `Employees`**

| EmployeeID | FirstName | LastName | Department | Salary |
| :--- | :--- | :--- | :--- | :--- |
| 1 | Alice | Johnson | HR | 60000 |
| 2 | Bob | Smith | Sales | 75000 |
| 3 | Charlie | Brown | IT | 90000 |
| 4 | Diana | Prince | Sales | 80000 |

### Example Queries:

1.  **Select the first and last names of all employees.**
    ```sql
    SELECT FirstName, LastName FROM Employees;
    ```

2.  **Select all information about employees in the 'Sales' department.**
    ```sql
    SELECT * FROM Employees WHERE Department = 'Sales';
    ```

3.  **Select the names of employees who earn more than $70,000.**
    ```sql
    SELECT FirstName, LastName FROM Employees WHERE Salary > 70000;
    ```

4.  **Select employees who work in 'Sales' AND earn more than $75,000.**
    ```sql
    SELECT * FROM Employees WHERE Department = 'Sales' AND Salary > 75000;
    ```

### üß† Your Turn! (Exercises)
Try writing queries for the following tasks:
1.  Select the `FirstName` and `Department` for all employees.
2.  Find all employees who are NOT in the 'HR' department.
3.  Find all employees whose `Salary` is between $50,000 and $80,000.

---

In [2]:
# Load the ipython-sql extension
%load_ext sql

# Connect to an in-memory SQLite database
%sql sqlite://

In [ ]:
%%sql
CREATE TABLE Employees (
    EmployeeID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    Department TEXT,
    Salary INTEGER
);
INSERT INTO Employees (EmployeeID, FirstName, LastName, Department, Salary) VALUES
(1, 'Alice', 'Johnson', 'HR', 60000),
(2, 'Bob', 'Smith', 'Sales', 75000),
(3, 'Charlie', 'Brown', 'IT', 90000),
(4, 'Diana', 'Prince', 'Sales', 80000);

SELECT FirstName, LastName FROM Employees;

SELECT * FROM Employees WHERE Department = 'Sales';

SELECT FirstName, LastName FROM Employees WHERE Salary > 70000;

In [ ]:
%%sql
SELECT * FROM Employees WHERE Department = 'Sales' AND Salary > 75000;

---
## ‚ùì Multiple Choice Quiz

Time to test your knowledge!

1.  **Which clause is used to specify the table you want to query?**
    * A) `SELECT`
    * B) `TABLE`
    * C) `FROM`
    * D) `WHERE`

2.  **How can you select all columns from a table named `Customers`?**
    * A) `SELECT all FROM Customers;`
    * B) `SELECT Customers.*;`
    * C) `SELECT * FROM Customers;`
    * D) `GET * FROM Customers;`

3.  **The `WHERE` clause is used for...**
    * A) Sorting the result set.
    * B) Filtering records.
    * C) Specifying the table.
    * D) Selecting columns.

4.  **Which query will select employees from the 'IT' department who earn exactly $90,000?**
    * A) `SELECT * FROM Employees WHERE Department = 'IT' OR Salary = 90000;`
    * B) `SELECT * FROM Employees WHERE Department = 'IT' AND Salary = 90000;`
    * C) `SELECT * FROM Employees WHERE Department = 'IT' & Salary = 90000;`
    * D) `SELECT * FROM Employees WHERE Department = 'IT', Salary = 90000;`

5.  **Which operator would you use to find all employees whose last name is NOT 'Smith'?**
    * A) `!=`
    * B) `NOT IN`
    * C) `EXCEPT`
    * D) `NON`

---

### üîë Answer Key

1.  **C) `FROM`** - The `FROM` clause specifies the source table.
2.  **C) `SELECT * FROM Customers;`** - The asterisk (`*`) is a wildcard for all columns.
3.  **B) Filtering records.** - The `WHERE` clause filters rows based on specified conditions.
4.  **B) `SELECT * FROM Employees WHERE Department = 'IT' AND Salary = 90000;`** - The `AND` operator ensures that both conditions must be true.
5.  **A) `!=`** - The `!=` or `<>` operator signifies 'not equal to'.

Excellent work on completing this chapter! You now have the foundational skills to retrieve and filter data, which is a massive part of working with SQL. In the next chapter, we'll look at how to sort and organize your results. Keep up the great work! üéâ

---

# üìä Chapter 3: Organizing Your Data - Sorting and Limiting Results

Fantastic work on mastering the `SELECT` statement! You're now a detective üïµÔ∏è who can find specific clues. In this chapter, you'll learn how to be an *organized* detective, arranging your findings in a neat, meaningful order. We'll explore how to sort results with the `ORDER BY` clause and how to retrieve just the most important bits of information using the `LIMIT` clause.

---

## üî¢ The `ORDER BY` Clause Detailed Explanation

By default, the rows in a query result aren't returned in any special order. The `ORDER BY` clause is your tool for sorting the result set based on one or more columns.

**Analogy:** Imagine you have a stack of student exam papers. `ORDER BY` is like arranging them alphabetically by student name or from the highest score to the lowest.

### Basic Syntax
```sql
SELECT column1, column2, ...
FROM table_name
ORDER BY column_to_sort_by;
```

---

## üìà Sorting in Ascending and Descending Order

You can sort data in two ways:
* `ASC` (Ascending): From smallest to largest (A-Z, 0-9). This is the **default** sorting order, so you don't even have to type it!
* `DESC` (Descending): From largest to smallest (Z-A, 9-0).

### Sorting in Ascending Order (`ASC`)
Let's sort our `Employees` table by `FirstName`.

```sql
SELECT FirstName, LastName, Salary
FROM Employees
ORDER BY FirstName ASC; -- 'ASC' is optional here
```
This would list employees from Alice to Diana.

### Sorting in Descending Order (`DESC`)
Now, let's find out who has the highest salary.

```sql
SELECT FirstName, LastName, Salary
FROM Employees
ORDER BY Salary DESC;
```
This would list Charlie first (90000) and Alice last (60000).

### Sorting by Multiple Columns ü§Ø
You can also sort by more than one column. The database will sort by the first column specified, and then for any rows that have the same value in the first column, it will sort them by the second column, and so on.

Let's sort our `Products` table first by `Category` in descending order, and then by `Price` in ascending order.

```sql
SELECT ProductName, Category, Price
FROM Products
ORDER BY Category DESC, Price ASC;
```

---

## üéØ `LIMIT` Clause Deep Dive

What if you only want to see the top few results? The `LIMIT` clause is perfect for this. It restricts the number of rows returned by your query. This is incredibly useful for things like "Top 10" lists and for making your queries faster on huge datasets.

**Analogy:** You've sorted your exam papers by score (`ORDER BY`). Now, you just want to grab the top 3 papers off the stack (`LIMIT 3`).

### Basic Syntax

```sql
SELECT column1, column2, ...
FROM table_name
LIMIT number_of_rows;
```
**Note:** The syntax for `LIMIT` can vary across different SQL databases. For example, in SQL Server, you might use `TOP` instead (`SELECT TOP 10 ...`). We'll stick to the common `LIMIT` syntax.

---

## üß© Practical Scenarios and Combinations

The real power comes when you combine `ORDER BY` and `LIMIT`.

**Table: `Sales`**

| SaleID | ProductID | Revenue | SaleDate |
| :--- | :--- | :--- | :--- |
| 1 | 101 | 500 | 2023-01-15 |
| 2 | 102 | 1200 | 2023-01-16 |
| 3 | 101 | 450 | 2023-01-17 |
| 4 | 103 | 2500 | 2023-01-18 |

### Scenarios:

1.  **Find the Top 3 most profitable sales.**
    Here, we need to sort by `Revenue` in descending order and then take the top 3.
    ```sql
    SELECT SaleID, ProductID, Revenue
    FROM Sales
    ORDER BY Revenue DESC
    LIMIT 3;
    ```

2.  **Find the 5 most recent sales.**
    We need to sort by `SaleDate` in descending order.
    ```sql
    SELECT SaleID, Revenue, SaleDate
    FROM Sales
    ORDER BY SaleDate DESC
    LIMIT 5;
    ```

### ‚ö†Ô∏è A Note on Performance
Sorting can be computationally expensive, especially on tables with millions of rows. When you ask a database to `ORDER BY` a column, it may need to read and rearrange a lot of data. If a column you frequently sort by is indexed, the process is much faster! Don't worry too much about indexes now, but it's a good concept to remember as you advance.

---

## ‚ùì Multiple Choice Questions

Let's test your new skills!

1.  **Which keyword is used to sort the result-set in descending order?**
    * A) `ASC`
    * B) `DESCEND`
    * C) `DESC`
    * D) `ORDER DESC`

2.  **What is the default sort order for the `ORDER BY` clause?**
    * A) Descending
    * B) There is no default
    * C) Alphabetical
    * D) Ascending

3.  **How would you get the top 5 highest-paid employees from the `Employees` table?**
    * A) `SELECT * FROM Employees LIMIT 5 ORDER BY Salary ASC;`
    * B) `SELECT * FROM Employees ORDER BY Salary DESC LIMIT 5;`
    * C) `SELECT TOP 5 * FROM Employees ORDER BY Salary;`
    * D) `SELECT * FROM Employees ORDER BY Salary ASC LIMIT 5;`

4.  **If you want to sort products by `Category` (A-Z) and then by `Price` (highest to lowest), what is the correct syntax?**
    * A) `ORDER BY Category, Price DESC`
    * B) `ORDER BY Category ASC, Price DESC`
    * C) `ORDER BY Category; ORDER BY Price DESC`
    * D) `ORDER BY Category DESC, Price ASC`

5.  **The `LIMIT` clause is used to:**
    * A) Restrict the columns in the result set.
    * B) Restrict the rows in the result set.
    * C) Restrict user access to a table.
    * D) Set a limit on a column's value.

---


## üîë Answer Key

**MCQ Answers:**
1.  **C) `DESC`** - `DESC` is the keyword for descending order.
2.  **D) Ascending** - If you don't specify `ASC` or `DESC`, the database defaults to ascending order.
3.  **B) `SELECT * FROM Employees ORDER BY Salary DESC LIMIT 5;`** - You must first sort by salary in descending order to get the highest salaries at the top, and then limit the result to 5.
4.  **B) `ORDER BY Category ASC, Price DESC`** - `ASC` is applied to `Category` (though it's default and optional), and `DESC` is applied to `Price`.
5.  **B) Restrict the rows in the result set.** - `LIMIT` controls how many rows are returned.

## üèÜ Challenge Exercises

Let's use the `Employees` table from the previous chapter.

**Table: `Employees`**

| EmployeeID | FirstName | LastName | Department | Salary |
| :--- | :--- | :--- | :--- | :--- |
| 1 | Alice | Johnson | HR | 60000 |
| 2 | Bob | Smith | Sales | 75000 |
| 3 | Charlie | Brown | IT | 90000 |
| 4 | Diana | Prince | Sales | 80000 |

1.  Write a query to select all employees, ordered by their `LastName` alphabetically.
2.  Write a query to find the two employees with the lowest salaries.
3.  Write a query to select all employees from the 'Sales' department, ordered by salary from highest to lowest.

**Challenge Solutions:**
1.  ```sql
    SELECT * FROM Employees ORDER BY LastName ASC;
    ```
2.  ```sql
    SELECT * FROM Employees ORDER BY Salary ASC LIMIT 2;
    ```
3.  ```sql
    SELECT * FROM Employees WHERE Department = 'Sales' ORDER BY Salary DESC;
    ```
---

In [12]:
# Setup for Jupyter Notebook (Run this first!)
%load_ext sql
%sql sqlite:///tutorial.db  # Using SQLite for our examples

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Using SQLite for our examples]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
%%sql
DROP TABLE IF EXISTS employees;

   sqlite://
 * sqlite:///tutorial.db
Done.

[]

In [25]:
%%sql
CREATE TABLE IF NOT EXISTS Employ (
    emp_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    salary REAL,
    hire_date TEXT
);

SELECT * FROM Employ;

   sqlite://
 * sqlite:///tutorial.db
Done.
Done.

KeyError: 'DEFAULT'

In [ ]:
%%sql